<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :response_sets %>
    <%= select_tag 'linked_response_sets', options_from_collection_for_select(ResponseSet.all, 'id', 'name', @question.response_sets.map{ |j| j.id }), :multiple => true, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :question_type_id, "Question Type" %>
    <%= f.select :question_type_id, options_from_collection_for_select(@question_types, 'id', 'name', question.question_type_id), include_blank: true %>
  </div>

  <div class="field">
    <!-- Displaying current user for when update tracking is added -->
    Author ID: <%= current_user.email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
