<p>
  <strong>Content:</strong>
  <%= question.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= question.created_by.email if question.created_by.present? %>
</p>

<p>
  <strong>Created:</strong>
  <%= question.created_at %>
</p>

<p>
  <strong>Updated:</strong>
  <%= question.updated_by.email if question.updated_by.present? %>
  <%= question.updated_at %>
</p>

<p>
  <strong>Primary Response Type:</strong><br>
    <%= question.response_type.try :name %>
</p>

<p>
  <strong>Response Set Names:</strong><br>
  <% question.response_sets.each do |rs| %>
    <%= link_to rs.name, response_set_path(rs) %>
    <br>
  <% end %>
</p>

<p>
  <strong>Question Type:</strong>
  <%= question.question_type.try :name %>
</p>

<%= render partial: 'shared/version_info', locals: {versionable: @question} %>
