<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @question.author %>
</p>

<p>
  <strong>Created:</strong>
  <%= @question.created_at %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @question.updated_at %>
</p>

<p>
  <strong>Response Set ID:</strong>
  <%= @question.response_set_id %>
</p>

<p>
  <strong>Response Set Name:</strong>
  <%= @question.response_set_string %>
</p>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to 'Back', questions_path %>
