<div class="row mystuff-bg">
  <p id="notice"><%= notice %></p>
  <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">My Questions</h3>
            </div>
            <div class="panel-body">
              <div id="question_list"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">My Response Sets</h3>
            </div>
            <div class="panel-body">
              <div id="response_set_list"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">My Forms</h3>
          </div>
          <div class="panel-body">
            <div id="form_list"></div>
          </div>
        </div>
      </div>  
      </div>
    </div>
</div>

<script type="application/json" id="question-json">
  <%= raw @questions.to_json %>
</script>
<script type="application/json" id="response-set-json">
  <%= raw @response_sets.to_json %>
</script>
<script type="application/json" id="forms-json">
  <%= raw @forms.to_json(include: [:questions, :created_by]) %>
</script>
<%= javascript_include_tag *webpack_asset_paths('my_stuff', extension: 'js') %>
