<%= form_for(response_set) do |f| %>
  <% if response_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response_set.errors.count, "error") %> prohibited this response_set from being saved:</h2>

      <ul>
      <% response_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :oid %>
    <%= f.number_field :oid %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :code_system %>
    <%= f.text_field :code_system %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
