<p id="notice"><%= notice %></p>

<h1>Response Sets</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>ID</th>
      <th>Version</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @response_sets.each do |response_set| %>
      <tr>
        <td><%= response_set.name %></td>
        <td><%= response_set.description %></td>
        <td><%= response_set.created_by.email if response_set.created_by.present? %></td>
        <td>id_<%= response_set.id %></td>
        <td><%= response_set.version %></td>
        <td><%= link_to 'Show', response_set %></td>
        <td><%= link_to 'Revise', revise_response_set_path(response_set) %></td>
        <td><%= link_to 'Extend', extend_response_set_path(response_set) %></td>
        <td><%= link_to 'Destroy', response_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response Set', new_response_set_path %>
