<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @response_set.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @response_set.description %>
</p>

<p>
  <strong>Responses:</strong><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Response Code</th>
        <th>Code System</th>
        <th>Display Name</th>
      </tr>
    </thead>
    <tbody>
      <% @response_set.responses.each do |response| %>
      <tr>
        <td><%= response.value %></td>
        <td><%= response.code_system %></td>
        <td><%= response.display_name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <strong>Questions:</strong><br>
  <% @response_set.questions.each do |question| %>
    <%= link_to question.content, question_path(question) %><br>
  <% end %>
</p>

<p>
  <strong>Oid:</strong>
  <%= @response_set.oid %>
</p>

<p>
  <strong>Author:</strong>
  <%= @response_set.created_by.email if @response_set.created_by.present? %>
</p>

<% if @response_set.parent.present? %>
<p>
  <strong>Parent:</strong>
  <%= link_to @response_set.parent.name, @response_set.parent %>
</p>
<% end %>

<% if @response_set.other_versions.present? %>
<p>
  <strong>Most Recent Version:</strong>
  <% if @response_set.most_recent? %>
    <%= @response_set.version %> (Currently Selected)
  <% else %>
    <%= @response_set.most_recent %>
  <% end %>
</p>
<p>
  <strong>Versions:</strong>
  <ol>
    <% @response_set.all_versions.each do |av| %>
      <% if @response_set.version == av.version %>
        <li>Version: <%= @response_set.version %> - Created <%= time_ago_in_words(@response_set.created_at) %> ago (Currently Selected)
        </li>
      <% else %>
        <li><%= link_to "Version: #{av.version}", av %> - Created <%= time_ago_in_words(av.created_at) %> ago</li>
      <% end %>
    <% end %>
  </ol>
</p>
<% end %>

<% if user_signed_in? & @response_set.most_recent? %>
  <%= link_to 'Revise', revise_response_set_path(@response_set) %> |
  <%= link_to 'Extend', extend_response_set_path(@response_set) %> |
<% elsif user_signed_in? %>
  <%= link_to 'Extend', extend_response_set_path(@response_set) %> |
<% end %>
<%= link_to 'Back', response_sets_path %>
