<div class="basic-bg">
  <div class="no-print">
    <%= link_to 'Export', '#', onClick: 'window.print()', class:"btn btn-default" %>
    <hr>
  </div>
  <!-- Add in basic-bg class -->

  <!-- Start content to export -->
  <h3>Section Name: <%= @section.name %></h3><br>

  <% @section.section_nested_items.each do |sni| %>
    <% if sni.question %>
      <%= sni.question.content %>
    <% elsif sni.nested_section %>
      <%= sni.nested_section.name %>
    <% end %>
    <p>
      <% if sni.response_set %>
        <% sni.response_set.responses.each.with_index do |r, i| %>
          <%= i+1 %>. <%= r.value %><br>
        <% end %>
      <% end %>
    </p>
  <% end %>


  <!-- End Content to export -->
  <br><br><br>
</div>
