<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_response_set.question_id %>
</p>

<p>
  <strong>Response set:</strong>
  <%= @question_response_set.response_set_id %>
</p>

<%= link_to 'Edit', edit_question_response_set_path(@question_response_set) %> |
<%= link_to 'Back', question_response_sets_path %>
