<%= form_for(response) do |f| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_area :value %>
  </div>

  <div class="field">
    <%= f.label :response_set_id %>
    <%= f.text_field :response_set_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
