<%= form_for(response) do |f| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_area :value %>
  </div>

  <div class="field">
    <%= f.label :response_set_id , "Response Set"%>
    <%= f.select :response_set_id, options_for_select( ResponseSet.all.collect{|rs| [rs.name,rs.id]}, response.response_set_id), {id: 'response_set_id'}%></td>
  </tr>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
