<p id="notice"><%= notice %></p>

<h1>Form Questions</h1>

<table>
  <thead>
    <tr>
      <th>Form</th>
      <th>Question</th>
      <th>Response set</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_questions.each do |form_question| %>
      <tr>
        <td><%= form_question.form_id %></td>
        <td><%= form_question.question_id %></td>
        <td><%= form_question.response_set_id %></td>
        <td><%= link_to 'Show', form_question %></td>
        <td><%= link_to 'Edit', edit_form_question_path(form_question) %></td>
        <td><%= link_to 'Destroy', form_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form Question', new_form_question_path %>
