<p id="notice"><%= notice %></p>

<p>
  <strong>Form:</strong>
  <%= @form_question.form_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @form_question.question_id %>
</p>

<p>
  <strong>Response set:</strong>
  <%= @form_question.response_set_id %>
</p>

<%= link_to 'Edit', edit_form_question_path(@form_question) %> |
<%= link_to 'Back', form_questions_path %>
