<%= form_for(question_type) do |f| %>

<div class="row">
  <% if question_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_type.errors.count, "error") %> prohibited this question type from being saved:</h2>

      <ul>
      <% question_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
