<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_type.name %>
</p>

<p>
  <strong>Created:</strong>
  <%= @question_type.created_at %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @question_type.updated_at %>
</p>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_question_type_path(@question_type) %> |
<% end %>
<%= link_to 'Back', question_types_path %>
