<p id="notice"><%= notice %></p>

<h1>Concepts</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>RS Names</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concepts.each do |concept| %>
      <tr>
        <td><%= concept.value %></td>
        <td><%= concept.response_sets.map {|k| k.name}.join(', ') %></td>
        <td><%= link_to 'Details', concept %></td>
        <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
        <td><%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concept', new_concept_path %>
