<%= form_for(form) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :version_independent_id %>
  <%= f.hidden_field :version %>

  <div class="col-md-4" id='search-results-div'>
  </div>
  <div class="col-md-8" id='form-div'>
    <div class="row" id="form-button-div">
      <div class="col-md-2">
        <div class="btn btn-default btn-sm" disabled>
          <span class="fa fa-navicon"></span>
        </div>
      </div>
      <div class="col-md-7"></div>
      <div class="col-md-3">
        <div class="col-md-6">
          <div class="btn btn-default" disabled>Export</div>
        </div>
        <div class="col-md-6">
          <div class="actions">
            <%= f.submit 'Save', class: 'btn btn-success'%>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_field :name, placeholder: "Form Name" %>
      </div>
    </div>
    <b>Form Questions:</b>

    <div id="added-questions" aria-label="Added"></div>

  </div>
<% end %>

<script type="application/json" id="all_qs-json">
  <%= raw @questions.to_json %>
</script>
<script type="application/json" id="formqs-json">
  <%= raw form.questions.to_json %>
</script>
<script type="application/json" id="all_rs-json">
  <%= raw @response_sets.to_json =%>
</script>
<% if form.persisted? %>
<script type="application/json" id="selected-qs-json">
  <%= raw @selected_questions.to_json =%>
</script>
<% end %>

<%= javascript_include_tag *webpack_asset_paths('forms', extension: 'js') %>
