<%= form_for(form) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <h4>Select Questions:</h4><br>
    <% @questions.each do |q| %>
      <a href='javascript:SDP.forms.addQuestion("<%= q.content %>", <%= q.id %>, <%= @response_sets.map {|rs| {"id" => rs.id, "name" => rs.name}}.to_json %>)'><%= q.content %></a><br>
    <% end %>
  </div>

  <div class="col-md-8">
    <div >
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <h4>Added:</h4><br>
    <table id="questionTable" aria-label="Added">
      <thead>
        <tr>
          <th>Question</th>
          <th>Response Set</th>
        </tr>
      </thead>

      <tbody>

      <% form.form_questions.each do |fq| %>
      <tr><td><%=fq.question.content%></td>
        <input aria-label="Question IDs" type="hidden" id="question_id_<%=fq.question_id%>" name="question_ids[]" value="<%=fq.question_id%>"/>
        <td><%= select_tag "response_set_ids[]", options_for_select( ResponseSet.all.collect{|rs| [rs.name,rs.id]}, fq.response_set_id)%></td>
        <td><a href="javascript:SDP.forms.removeQuestion('#question_id_<%=fq.question_id%>')">Remove<a></td>
      </tr>
        <% end %>

        <tr><td></td></tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
