<div class="no-print">
  <%= link_to 'Export', '#', onClick: 'window.print()', class:"btn btn-default" %>
  <hr>
</div>
<!-- Add in basic-bg class -->

<!-- Start content to export -->
<h3>Form Name: <%= @form.name %></h3><br>

<% @form.form_questions.each do |fq| %>
  <%= fq.question.content %>
  <p>
    <% fq.response_set.responses.each.with_index do |r, i| %>
      <%= i+1 %>. <%= r.value %><br>
    <% end %>
  </p>
<% end %>


<!-- End Content to export -->
<br><br><br>
