<div class="row basic-bg">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @form.name %>
  </p>
  <% if @form.omb_approved? %>
  <p>
    <strong>OMB Control Number:</strong>
    <%= @form.control_number %>
  </p>
  <% end %>

  <p>
    <strong>Questions:</strong><br>
    <% @form.form_questions.each do |fq| %>
      <%= link_to fq.question.content, question_path(fq.question) %><br>
      <% if fq.response_set %>
      -  <%= link_to fq.response_set.name, response_set_path(fq.response_set) %><br>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Created By:</strong>
    <%= @form.created_by.email if @form.created_by.present? %>
  </p>

<div class="no-print">
  <%= render partial: 'shared/version_info', locals: {versionable: @form} %>

  <% if user_signed_in? & @form.most_recent? %>
    <%= link_to 'Revise', revise_form_path(@form) %> |
  <% end %>
  <%= link_to 'Export', export_form_path(@form) %> |
  <%= link_to 'Back', forms_path %>
</div>
