<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vocabulary Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= javascript_include_tag *webpack_asset_paths('bootstrap', extension: 'js') %>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">CDC Vocabulary Service</a>
        </div>
        <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Overview
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="<%= 'active' if current_page?(questions_path) %>"><%=link_to 'Questions', questions_path %>
              <li class="<%= 'active' if current_page?(question_types_path) %>"><%=link_to 'Question Types', question_types_path %>
              <li class="<%= 'active' if current_page?(response_sets_path) %>"><%=link_to 'Response Sets', response_sets_path %>
              <li class="<%= 'active' if current_page?(responses_path) %>"><%=link_to 'Responses', responses_path %>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Author
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="<%= 'active' if current_page?(new_question_path) %>"><%=link_to 'Questions', new_question_path %>
              <li class="<%= 'active' if current_page?(new_question_type_path) %>"><%=link_to 'Question Types', new_question_type_path %>
              <li class="<%= 'active' if current_page?(new_response_set_path) %>"><%=link_to 'Response Sets', new_response_set_path %>
              <li class="<%= 'active' if current_page?(new_response_path) %>"><%=link_to 'Responses', new_response_path %>
            </ul>
          </li>

        </ul>
        <% else %>
        <ul class="nav navbar-nav">
          <li class="disabled"><a href="/questions/new">New Question</a></li>
        </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </div>
    </nav>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
